body {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    min-height: 100vh;
    text-align: center;
    margin: 0;
    font-family: "Oswald", sans-serif;
    .holygrail {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    .holygrail-header {
        width: 100%;
        height: 60px;
        background-color: #ee6363;
        border: 1px solid #ddd;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 700;
        font-size: 25px;
    }
    .holygrail-body {
        display: flex;
        flex: 1;
        .holygrail-content {
            padding: 10px;
            flex: 1;
            background: #fcfcfc;
            .honeycomb {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 250px;
            }
            @media (max-width: 480px) {
                .honeycomb {
                    flex-direction: column;
                }
            }
            .hexagon {
                position: relative;
                display: inline-block;
                margin: 3px 20px;
                background-color: #454545;
                &:hover {
                    animation: opacity 1s;
                    animation-fill-mode: forwards;
                }
            }
            .hexagon,
            .hexagon::before,
            .hexagon::after {
                /* easy way: height is width * 1.732
                actual formula is 2*(width/(2*Math.tan(Math.PI/6)))
                remove border-radius for sharp corners on hexagons */
                width: 70px;
                height: 121px;
            }
            @media (max-width: 480px) {
                .hexagon,
                .hexagon::before,
                .hexagon::after {
                    transform: rotate(90deg);
                }
            }
            .hexagon::before {
                background-color: inherit;
                content: "";
                position: absolute;
                left: 0;
                transform: rotate(-60deg);
            }
            .hexagon::after {
                background-color: inherit;
                content: "";
                position: absolute;
                left: 0;
                transform: rotate(60deg);
            }
            .hexagon:nth-child(even) {
                align-self: flex-start;
            }
            .hexagon:nth-child(2) {
                opacity: 0.75;
            }
            .hexagon:nth-child(3) {
                opacity: 0.5;
            }
            .hexagon:nth-child(4) {
                opacity: 0.25;
            }
            @media (max-width: 480px) {
                .hexagon:nth-child(even) {
                    align-self: center;
                    left: 62px;
                }
                .hexagon {
                    margin: -5px 0;
                }
            }
        }
        @media (max-width: 480px) {
            .honeycomb {
                padding: 20px;
            }
        }
    }
}

.holygrail-nav {
    display: flex;
    flex-direction: column;
    order: -1;
    border-top: 0;
    border-bottom: 0;
    margin: 0;
    padding: 5px;
    .link,
    &:visited,
    &:active {
        padding: 5px;
        text-decoration: none;
        color: #ee6e72;
        &:hover {
            color: #000;
        }
    }
}

.holygrail-aside {
    padding: 10px;
}

.holygrail-aside,
.holygrail-nav {
    min-width: 100px;
    background: #f2f2f2;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
}

.holygrail-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: #5c5c5c;
}

@media (max-width: 700px) {
    .holygrail-body {
        flex-direction: column;
    }
}

@keyframes opacity {
    100% {
        opacity: 0;
    }
}
