<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
</head>

<body>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
    <div class="holygrail">
        <header class="holygrail-header">
            <span>HoneyComb</span>
        </header>
        <div class="holygrail-body">
            <div class="holygrail-content">
                <div class="honeycomb">
                    <div class="hexagon">
                    </div>
                    <div class="hexagon">
                    </div>
                    <div class="hexagon">
                    </div>
                    <div class="hexagon">
                    </div>
                </div>
            </div>
            <div class="holygrail-nav">
                <a class="link" href="#">HTML5</a>
                <a href="#" class="link">CSS3</a>
                <a href="#" class="link">Flexbox</a>
            </div>
            <div class="holygrail-aside">Hexagon powered</div>
        </div>
        <footer class="holygrail-footer">BrightMarbles Internship</footer>
    </div>
</body>

</html>